#linenos,
body.editing #hljsStyle,
body.editing #theme {
    display: none;
}

body {
    padding: 0px !important;
}

#table {
    min-height: 100vh;
    width: 100vw;
}

#table td {
    width: 33%;
    max-width: 99vw;
    vertical-align: middle;
    overflow-x: auto;
}

#editor {
    min-height: 0px;
}

body.editing #editor {
    box-shadow: -1px 0px 0px 0px red;
}
