body {
    padding: 0px !important;
    padding-left: 75px !important;
}

#hljsStyle {
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0.25;
    z-index: 100;
}

#hljsStyle:hover {
    opacity: 1;
}

#theme {
    position: absolute;
    right: 0px;
    top: 1.5em;
    opacity: 0.25;
    z-index: 100;
}

#theme:hover {
    opacity: 1;
}

#newTaste {
    display: none;
}

#linenos {
    position: absolute;
    left: 0px;
    width: 70px;
    margin: 0px;
}

#linenos > code:nth-child(1) {
    display: block;
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-align: right;
    min-height: 95vh;
}
body.editing #linenos {
    display: none;
}

#editor {
    margin: 0px auto;
    outline: none;
    min-height: 95vh;
}

body.editing #editor {
    min-height: 0px;
    box-shadow: -1px 0px 0px 0px red;
}

#editor > code:nth-child(1) {
    outline: none;
}

#list {
    opacity: 0.25;
}

#list:hover {
    opacity: 1;
}

#list > ol {
    margin: 0px;
}

#list > ol > li:hover {
    text-decoration: underline;
}

#list > ol > li > a {
    text-decoration: none;
}

body.editing #list {
    display: none;
}
